*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.table-wrapper {
    width: 100%;
  }
  
table {
 display: block;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px #ccc;
  border-radius: 10px;
  white-space: nowrap;
  width: 100em;
  max-width: 80%;
  margin: auto;
  table-layout: auto;
  overflow-x: auto;
  }
  .table thead {
    background-color: #ccc;
    color: #222;
  }
  
  .table th,
  .table td {
    padding: 0.8rem;
    text-align: left;
  }
  
  .table td {
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
  }



  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }
  th:first-child, td:first-child {
    width: 10%;
  }
  .expand {
    max-width:300px;
   white-space: nowrap;
  }
  
  .delete-btn {
    color: #e10d05;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  .edit-btn:hover{
    font-size: larger;
  }
  .delete-btn:hover{
    font-size: larger;
  }
  .edit-btn{
    color: rgb(24, 126, 198);
    font-size: 20px;
    cursor: pointer;
  }
  .medium{
    width: 15%;
  }
  .add:hover{
    color: white;
    background: #527567;
    
  }
  .flexx{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5px;
  }
.title{
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-family:Arial, Helvetica, sans-serif;
  color: rgba(40, 34, 34, 0.712);
  margin: 20px;
}
.tool-bar{
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.add{
  padding: 10px;
  border-radius: 12px;
  border: 1px solid ;
  background-color: #aeae9996;
  cursor: pointer;
}
.input{
  border-radius: 12px;
  border: 1px solid gray;
  padding: 10px;
}
input{
  border-radius: 10px;
  border: 1px solid black;
}
.inputabout{
  width: 90%;
}
input:focus{
  outline: none;
}
.bottom-page{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-order{
  padding: 7px 12px;
  border: 1px solid gray;
}
.active{
  background-color: rgba(0, 0, 255, 0.71);
  color: white;
  border-left: none;
  border-right: none;
}

.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
form{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
form input{
  padding: 3px;
  margin: 4px;
}
form button{
  cursor: pointer;
  padding: 7px 0;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.wel-btn{
  padding: 10px 15px;
  background-color: rgb(71, 148, 71);
  border: 1px solid grey;
  border-radius: 12px;
  cursor: pointer;
}
.wel-btn:hover{
  background: white;
  color: black;

}
